{% extends "emailhub/base.html" %}

{% block content %}
<div class="content">
  <div class="row">
    <div class="col s12">
      <h1>{{ object.subject }}</h1>
      <p>From: {{ object.email_from|urlize }}</p>
      <p>To: {{ object.to|urlize}}</p>
      <p>Date: {{ object.date_created|date }}</p>
      <pre>{{ object.body_text|urlize }}</pre>
    </div>
  </div>
</div>
{% endblock %}
